<!DOCTYPE html>
<html ng-app="zippyApp">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/index.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <title>angularJs App</title>
    </head>
    <body>

        <input type="text" ng-model="model.title" />
        <input type="text" ng-model="model.content" />

        <zippy title="{{model.title}}">
            The content is: {{model.content}}
        </zippy>
<p>yeoman</p>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
        <script src="js/maincontroller.js" type="text/javascript"></script>
        <script src="js/factory.js" type="text/javascript"></script>
        <script src="js/filter.js" type="text/javascript"></script>

    </body>
